@use "../../../../styles/system/_shortcuts.scss" as *;
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10dvh 10dvw 2.5dvh 10dvw;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    .header{
        position: absolute;
        top: 2.5dvh;
        left: 50%;
        transform: translateX(-50%);
        width: 80dvw;
        height: 15dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include vb((
            lg: (height: 10dvh, gap: 0dvh),
            md: (height: 10dvh, gap: 0dvh),
            s: (height: 10dvh, gap: 0dvh),
            xs: (height: 15dvh, gap: 2dvh),
        ));
        .logo{
            width: 10dvw;
            height: 5dvh;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            @include vb((
                lg: (height: 1.5dvh),
                md: (height: 2.5dvh),
                s: (height: 5dvh),
                sm: (height: 5dvh),
                xs: (width: 8dvw, height: 5dvh),
            ));

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;

                .logoImage{
                    width: 150px;
                    height: auto;
                    @include vb((
                        md: (scale: 1.5),
                        s: (scale: 3),
                        sm: (scale: 3),
                        xs: (scale: 3),
                    ));
                }
            }
        }
        .logoTitle{
            width: 100%;
            height: 5dvh;
            display: flex;
            align-items: center;
            justify-content: center;
            h3{
                font-size: 1.1rem;
                color: var(--ChText);
                font-weight: 300;

                @include vb((
                    xs: (font-size: 1rem),
                ));
            }
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 2.5rem;
        @include vb((
            lg: (gap: 1rem),
            md: (gap: 1rem),
            s: (gap: 2rem),
            sm: (gap: 2rem),
            xs: (gap: 2rem),
        ));
        .linkContainer{
            width: 80dvw;
            height: 4dvh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            a{
                text-decoration: none;
                p{
                    color: var(--ChText);
                    font-size: 2.5rem;
                    text-align: center;
                    font-weight: 300;

                @include vb((
                    xs: (font-size: 2.2rem),
                ));       
                }
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: row;
        gap: 10dvw;
        @include vb((
            lg: (gap: 5dvw, margin-bottom: 0.5dvh),
            md: (gap: 5dvw, margin-bottom: 0.5dvh),
            s: (gap: 15dvw, margin-bottom: 0.5dvh),
            sm: (gap: 15dvw, margin-bottom: 0.5dvh),
            xs: (gap: 15dvw, margin-bottom: 0.5dvh),
        ));
        .a{
            width: 50%;
            margin-top: 5px;
            font-size: 1.3rem;
            @include vb((
                xs: (font-size: 1.2rem),
            ));
        }
    }

    .country__Select{
        width: 100%;
        height: 5dvh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;

        @include vb((
            lg: (height: 2dvh),
            md: (height: 3dvh),
            s: (height: 3dvh),
            sm: (height: 3dvh),
            xs: (height: 4dvh),
        ));
    }
}
