@use "../../../../styles/system/_shortcuts.scss" as *;
.row {
  width: 100%;
  height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  @include hb((
    md: (height: 12.5dvh),
    sm: (height: 12.5dvh),
    xs: (height: 20dvh),
    xxs: (height: 20dvh),
  ));

  @include vb((
    lg: (height: 7.5dvh, gap: 1rem),
    md: (height: 7.5dvh, gap: 1rem),
  ));

  .cellThumb {
    display: flex;
    align-items: center;
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
    width: 4rem; /* w-24 */
    height: 6rem; /* h-24 */
    @include hb((
      xxs: (width: 3rem, height: 4rem),
    ));
    @include vb((
      md: (width: 3rem, height: 4rem),
      s: (width: 4rem, height: 5rem, margin-right: 0.5rem),
      sm: (width: 4rem, height: 5rem),
      xs: (width: 4rem, height: 5rem),
    ));

    .thumbLink {
      display: flex;

      &.thumbLinkPreview {
        width: 4rem; /* w-16 */
        @include hb((
          xxs: (width: 3rem),
        ));
        @include vb((
          md: (width: 3rem),
          s: (width: 5rem),
          sm: (width: 5rem),
          xs: (width: 4rem),
        ));
      }
      &.thumbLinkFull {
        width: 4rem; /* w-12 */
        @include hb((
          xxs: (width: 3rem),
        ));
        @include vb((
          md: (width: 3rem),
          s: (width: 5rem),
          sm: (width: 5rem),
          xs: (width: 4rem),
        ));
      }
    }
  }

  .cellTitle {
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: fit-content; /* w-24 */
    height: 6rem; /* h-24 */
    width: 18rem;
    padding: 1rem 0;

    @include hb((
      xxs: (width: 12rem, flex: 0 0 12rem),
    ));
    @include vb((
      md: (width: 14rem, flex: 0 0 14rem),
      s: (width: 16rem, flex: 0 0 16rem),
      sm: (width: 12rem, flex: 0 0 12rem),
      xs: (width: 12rem, flex: 0 0 12rem),
    ));

    .title {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400; /* medium-plus analog */
      color: var(--blackText);
      font-family: "Sansation-Regular";

      @include hb((
        lg: (font-size: 1rem),
        md: (font-size: 0.95rem),
        mdt: (font-size: 0.95rem),
        sm: (font-size: 0.95rem),
        xs: (font-size: 0.85rem),
        xxs: (font-size: 0.85rem),
      ));

      @include vb((
        lg: (font-size: 0.95rem),
        md: (font-size: 0.95rem),
        s: (font-size: 0.85rem),
        sm: (font-size: 0.85rem),
        xs: (font-size: 0.85rem),
      ));
    }
  }

  .cellActions {
    /* container for actions cell */
    vertical-align: middle;
    width: fit-content; /* w-24 */
    height: 6rem; /* h-24 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem; /* w-28 */
    @include hb((
      xxs: (width: 8rem),
    ));
    @include vb((
      md: (width: 8rem),
      s: (width: 8rem),
      sm: (width: 8rem),
      xs: (width: 8rem),
    ));

    .actionsRow {
      display: flex;
      gap: 1rem; /* gap-2 */
      column-gap: 0.5rem; /* gap-2 */
      align-items: center;
      justify-content: center;
      width: 12rem; /* w-28 */
      @include hb((
        xxs: (width: 8rem),
      ));
      @include vb((
        md: (width: 8rem),
        s: (width: 8rem),
        sm: (width: 8rem),
        xs: (width: 8rem),
      ));
    }
  }

  .cellUnit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
  }

  .cellPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0 !important;
    width: 3rem;

    .priceWrap {
      padding-right: 0 !important;
      width: 3rem;

      &.previewPriceWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        justify-content: center;

        .previewQtyRow {
          display: flex;
          column-gap: 0.25rem; /* gap-x-1 */
        }
      }
    }
  }

  .muted {
    color: var(--shadows);
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 300; /* medium-plus analog */
    font-family: "Sansation-Light";

    @include hb((
      lg: (font-size: 0.875rem),
      md: (font-size: 0.8rem),
      mdt: (font-size: 0.8rem),
      sm: (font-size: 0.8rem),
      xs: (font-size: 0.7rem),
      xxs: (font-size: 0.7rem),
    ));

    @include vb((
      lg: (font-size: 0.8rem),
      md: (font-size: 0.8rem),
      s: (font-size: 0.7rem),
      sm: (font-size: 0.7rem),
      xs: (font-size: 0.7rem),
    ));
  }
}
