@use "../../../styles/system/_shortcuts.scss" as *;

.main__vyroba{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 2rem 2rem;
    background-color: var(--bgPBlack);
    
    .text__wrappper{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;


         p {
            span{
                font-size: 2rem;
            }
            position: absolute;
            top: 15%;
            left: 5%;
            right: 25%;
            font-size: 1.3rem;
            font-weight: 10;
            color: var(--blackText);
         }
         }
        




    .image__container{
        position: relative;
        width: 80%;
        height: 80%;


        .image__wrapper{
            width: 50%;
            height: 40%;
            position: absolute;
            top: 50%;
            right: 5%;
        }
    }

}