@use "../../../../styles/system/_shortcuts.scss" as *;

.mapa{
    width: 100dvw;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    background-color: var(--CharcoalBg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    padding: 10dvh 5dvw;

    .mapa__background__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    @include hb((
        xs: (height: 120dvh, padding: 20dvh 5dvw),
        xxs: (height: 120dvh, padding: 20dvh 5dvw),
    ));
    @include vb((
        lg: (height: 60dvh),
        md: (height: 60dvh),
        s: (padding: 5dvh 5dvw),
        sm: (padding: 5dvh 5dvw),
        xs: (padding: 5dvh 5dvw),
    ));
    
    
    .mapa__title{
        position: relative;
        z-index: 2;
        width: 100%;
        height: 15dvh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
       
        h2{
            font-size: 5rem;
            color: var(--WhiteBg);
            font-weight: 300;
            text-align: left;
            margin: 0;
            
            @include hb((
                lg: (font-size: 4rem),
                mdt: (font-size: 4rem),
                md: (font-size: 3.5rem),
                sm: (font-size: 3.5rem),
                xs: (font-size: 3rem),
                xxs: (font-size: 2.5rem),
            ));

            @include vb((
                lg: (font-size: 4rem),
                md: (font-size: 3.5rem),
                s: (font-size: 3rem),
                sm: (font-size: 2.5rem),
                xs: (font-size: 2rem),
            ));
        }
    }

    .mapa__content{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5dvw;
        padding: 10dvh 0;

        @include vb((
            lg: (padding: 0),
            md: (padding: 0),
            s: (flex-direction: column, align-items: center, justify-content: flex-end, padding: 5dvh 0),
            sm: (flex-direction: column, align-items: center, justify-content: flex-end, padding: 5dvh 0),
            xs: (flex-direction: column, align-items: center, justify-content: flex-end, padding: 5dvh 0),
        ));


        .mapa__content__address{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            @include hb((
                xs: (gap: 2.5dvh),
                xxs: (gap: 2.5dvh),
            ));
            @include vb((
                lg: (gap: 0.5dvh),
                md: (gap: 0.5dvh),
                s: (width: 100%, height: 60%, gap: 1dvh, justify-content: space-evenly),
                sm: (width: 100%, height: 70%, gap: 1dvh, justify-content: space-evenly),
                xs: (width: 100%, height: 70%, gap: 1dvh, justify-content: space-evenly),
            ));

            .mapa__content__address__title{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 25%;
                gap: 2.5dvh;

                @include vb((
                    lg: (justify-content: flex-start, height: 20%, gap: 0.5dvh),
                    md: (justify-content: flex-start, height: 20%, gap: 0.5dvh),
                    s: (justify-content: flex-start, height: 20%, gap: 0.5dvh),
                    sm: (justify-content: flex-start, height: 20%, gap: 0.5dvh),
                    xs: (justify-content: flex-start, height: 20%, gap: 0.5dvh),
                ));


                h3{
                    font-family: "Sansation-Regular";
                    font-size: 2.5rem;
                    color: var(--WhiteBg);
                    font-weight: 300;
                    margin: 0;

                    @include hb((
                        lg: (font-size: 2rem),
                        mdt: (font-size: 2rem),
                        md: (font-size: 1.8rem),
                        sm: (font-size: 1.8rem),
                        xs: (font-size: 1.5rem),
                        xxs: (font-size: 1.5rem),
                    ));
                     @include vb((
                        lg: (font-size: 1.8rem),
                        md: (font-size: 1.5rem),
                        s: (font-size: 1.5rem),
                        sm: (font-size: 1.3rem),
                        xs: (font-size: 1.1rem),
                    ));
                    
                }

                p{
                    font-family: "Sansation-Light";
                    font-size: 1.5rem;
                    color: var(--WhiteBg);
                    font-weight: 300;
                    margin: 0;

                    @include hb((
                        lg: (font-size: 1.3rem),
                        mdt: (font-size: 1.3rem),
                        md: (font-size: 1.1rem),
                        sm: (font-size: 1.1rem),
                        xs: (font-size: 1rem),
                        xxs: (font-size: 1rem),
                    ));
                     @include vb((
                        lg: (font-size: 1.3rem),
                        md: (font-size: 1.1rem),
                        s: (font-size: 1.1rem),
                        sm: (font-size: 1.1rem),
                        xs: (font-size: 1rem),
                    ));
                }
            }

            .mapa__content__address__links{
                 .LinkButton{
                    .button{
                        width: 180px;
                        height: 50px;
                        @include hb((
                            lg: (width: 160px !important, height: 40px !important),
                            mdt: (width: 160px !important, height: 40px !important),
                            md: (width: 160px !important, height: 40px !important),
                            sm: (width: 160px !important, height: 40px !important),
                            xs: (width: 160px !important, height: 40px !important),
                            xxs: (width: 140px !important, height: 35px !important),
                        ));

                        @include vb((
                            lg: (width: 160px !important, height: 40px !important),
                            md: (width: 150px !important, height: 40px !important),
                            s: (width: 140px !important, height: 40px !important),
                            sm: (width: 140px !important, height: 40px !important),
                            xs: (width: 130px !important, height: 35px !important),
                        ));
                        .slider{
                            .el{
                                &:nth-of-type(2){
                                    background-color: var(--WhiteBg) !important;
                                    p{
                                        color: var(--ChText);
                                        &:nth-of-type(2){
                                            transform: rotateX(-90deg) translateY(18px) !important;
                                        }
                                    }
                                }
                                
                                p{
                                    font-family: "Sansation-Light";
                                    text-transform: capitalize;
                                    font-size: 1.5rem;
                                    color: var(--WhiteBg);
                                    font-weight: 300;
                                    margin: 0;

                                    @include hb((
                                        lg: (font-size: 1.3rem),
                                        mdt: (font-size: 1.3rem),
                                        md: (font-size: 1.1rem),
                                        sm: (font-size: 1.1rem),
                                        xs: (font-size: 1rem),
                                        xxs: (font-size: 1rem),
                                    ));
                                    @include vb((
                                        lg: (font-size: 1.3rem),
                                        md: (font-size: 1.1rem),
                                        s: (font-size: 1.1rem),
                                        sm: (font-size: 1.1rem),
                                        xs: (font-size: 1rem),
                                    ));
                                }
                            }
                        }

                        @include hb((
                            lg: (width: 200px, height: 50px),
                            md: (width: 180px, height: 45px),
                            mdt: (width: 200px, height: 50px),
                            sm: (width: 180px, height: 45px),
                            xs: (width: 180px, height: 45px),
                            xxs: (width: 180px, height: 45px),
                        ));
                        @include vb((
                            lg: (width: 200px, height: 50px),
                            md: (width: 180px, height: 45px),
                            s: (width: 180px, height: 45px),
                            sm: (width: 180px, height: 45px),
                            xs: (width: 160px, height: 40px),
                        ));
                    }

                }
            }
        }

        .mapa__content__details{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            flex-direction: column;
            gap: 5dvh;
            padding-top: 10dvh;
            @include hb((
                xxs: (gap: 7.5dvh),
            ));
            @include vb((
                s: (width: 100%),
                sm: (width: 100%),
                xs: (width: 100%),
            ));

            .mapa__content__details__title{
                width: 100%;
                height: 25%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                flex-direction: column;
                @include hb((
                    xxs: (gap: 1dvh),
                ));

                h3{
                    font-family: "ooohBaby-Regular";
                    font-size: 5rem;
                    color: var(--WhiteBg);
                    font-weight: 300;
                    margin: 0;

                    @include hb((
                        lg: (font-size: 4rem),
                        mdt: (font-size: 4rem),
                        md: (font-size: 3.5rem),
                        sm: (font-size: 3.5rem),
                        xs: (font-size: 3rem),
                        xxs: (font-size: 2.5rem),
                    ));
                     @include vb((
                        lg: (font-size: 4rem),
                        md: (font-size: 3.5rem),
                        s: (font-size: 3.5rem),
                        sm: (font-size: 3rem),
                        xs: (font-size: 2.5rem),
                    ));
                }

                h4{
                    font-family: "Sansation-Light";
                    font-size: 2rem;
                    color: var(--WhiteBg);
                    font-weight: 300;
                    margin: 0;  

                    @include hb((
                        lg: (font-size: 1.8rem),
                        mdt: (font-size: 1.8rem),
                        md: (font-size: 1.5rem),
                        sm: (font-size: 1.5rem),
                        xs: (font-size: 1.3rem),
                        xxs: (font-size: 1.3rem),
                    ));
                    @include vb((
                        lg: (font-size: 1.8rem),
                        md: (font-size: 1.5rem),
                        s: (font-size: 1.5rem),
                        sm: (font-size: 1.3rem),
                        xs: (font-size: 1.1rem),
                    ));
                }
            }

            .mapa__content__details__text{
                width: 100%;
                height: 75%;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                flex-direction: column;
                gap: 0.5dvh;
                @include hb((
                    xxs: (gap: 1dvh),
                ));

                p{
                    font-family: "Sansation-Light";
                    font-size: 1.5rem;
                    color: var(--WhiteBg);
                    font-weight: 300;
                    margin: 0;
                    text-align: right;

                    @include hb((
                        lg: (font-size: 1.3rem),
                        mdt: (font-size: 1.3rem),
                        md: (font-size: 1.1rem),
                        sm: (font-size: 1.1rem),
                        xs: (font-size: 1rem),
                        xxs: (font-size: 1rem),
                    ));
                    @include vb((
                        lg: (font-size: 1.3rem),
                        md: (font-size: 1.1rem),
                        s: (font-size: 1.1rem),
                        sm: (font-size: 1.1rem),
                        xs: (font-size: 1rem),
                    ));
                }
            }
        }
    }

    .mapa__background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        overflow: hidden;
        z-index: -1;

        .mapa__background__image{
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(1.1);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        
        }
        
    }
}
