@use "../../../../styles/system/_shortcuts.scss" as *;

/* CheckoutSummary component styles - SASS nesting */
.root {
  position: sticky;
  top: 10dvh;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include hb((
    sm: (width: 100%, position: relative),
    xs: (width: 100%, position: relative),
    xxs: (width: 100%, position: relative),
  ));
  @include vb((
    md: (width: 100%, position: relative),
    s: (width: 100%, position: relative),
    sm: (width: 100%, position: relative),
    xs: (width: 100%, position: relative),
  ));

  @media (min-width: 640px) {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }

  .summary {
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    .heading {
      width: 100%;
      justify-content: flex-start;
      display: flex;
      flex-direction: row;
      font-size: 2rem;
      font-weight: 500;
      align-items: baseline;
      margin: 0;

      @include hb((
        lg: (font-size: 1.8rem),
        md: (font-size: 1.8rem),
        sm: (font-size: 1.8rem),
        xs: (font-size: 1.6rem),
        xxs: (font-size: 1.6rem),
      ));

      @include vb((
        lg: (font-size: 1.8rem),
        md: (font-size: 1.8rem),
        s: (font-size: 1.6rem, padding-left: 1rem),
        sm: (font-size: 1.6rem, padding-left: 1rem),
        xs: (font-size: 1.6rem, padding-left: 1rem),
      ));
    }
    .divider {
      margin: 1.5rem 0;
      @media (min-width: 640px) {
        &.hidden {
          display: none;
        }
      }
    }
    .discount {
      margin: 1.5rem 0;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      @include vb((
        s: (padding-left: 1rem),
        sm: (padding-left: 1rem),
        xs: (padding-left: 1rem),
      ));
    }
  }
}
