@use "../../../../styles/system/_shortcuts.scss" as *;

/* CheckoutForm component styles - SASS nesting */
.root {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem 2.5vw 1rem 0;

  @include hb((
    sm: (margin-top: 10dvh),
  ));
  @include vb((
    lg: (margin-top: 10dvh, padding: 0),
    md: (margin-top: 10dvh, padding: 0),
    s: (margin-top: 5dvh, padding: 1rem),
    sm: (margin-top: 5dvh, padding: 1rem),
    xs: (margin-top: 5dvh, padding: 0.5rem),
  ));
}
