@use "../../../../styles/system/_shortcuts.scss" as *;

.mouse-anim{
    position: relative;
    width: 3dvw;
    height: 7.5dvh;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include hb((
        lg: (scale: 0.9),
        md: (scale: 0.9, height: 8dvh),
        mdt: (scale: 0.9, height: 6dvh),
        sm: (scale: 0.9, height: 6dvh),
        xs: (height: 10dvh),
        xxs: (height: 8dvh),
    ));

    @include vb((
        lg: (height: 3.5dvh),
        md: (height: 3.5dvh),
        s: (height: 4dvh, width: 5dvw),
        sm: (height: 4dvh, width: 5dvw),
        xs: (height: 4dvh, width: 4dvw),
    ));
    

    .mouse-anim__border{
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid var(--iconsPink);
        border-radius: 50px;
    }
    .mouse-anim__wheel{
        position: absolute;
        width: 0.4dvw;
        height: 0.8dvw;
        border-radius: 25px;
        background-color: var(--bgWhite);
    }
}
