@use "../../../../styles/system/_shortcuts.scss" as *;

.content{ 
    width: 100%;
    min-height: 70dvh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding-bottom: 2.5dvh;

    .header {
		// mb-8 flex flex-col gap-y-4
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		margin-bottom: 2rem;

		.title {
			// text-2xl-semi
			font-size: 1.8rem;
            line-height: 1.2;
            font-weight: 400;
            font-family: "Sansation-Light";
			color: var(--blackText);

			@include hb((
				lg: (font-size: 1.6rem),
				md: (font-size: 1.6rem),
				mdt: (font-size: 1.6rem),
				sm: (font-size: 1.6rem),
				xs: (font-size: 1.3rem),
				xxs: (font-size: 1.3rem),
			));

			@include vb((
				lg: (font-size: 1.6rem),
				md: (font-size: 1.6rem),
				s: (font-size: 1.3rem),
				sm: (font-size: 1.3rem),
				xs: (font-size: 1.3rem),
			));
		}

		.desc {
			// text-base-regular
			font-size: 1.1rem;
            line-height: 1.25rem;
            color: var(--blackText);
            font-weight: 300;
            font-family: "Sansation-Light";

			@include hb((
				lg: (font-size: 1.05rem),
				md: (font-size: 1.05rem),
				mdt: (font-size: 1.05rem),
				sm: (font-size: 1.05rem),
				xs: (font-size: 1rem),
				xxs: (font-size: 1rem),
			));

			@include vb((
				lg: (font-size: 1.05rem),
				md: (font-size: 1.05rem),
				s: (font-size: 1rem),
				sm: (font-size: 1rem),
				xs: (font-size: 1rem),
			));
		}
	}

	.body {
		// flex flex-col gap-y-8 w-full
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
		width: 100%;
	}

	.divider {
		// w-full h-px bg-gray-200
		width: 100%;
		height: 1px;
		background-color: var(--border, #e5e7eb);
	}
}
