@use "../../../../styles/system/_shortcuts.scss" as *;

.root {
  width: 100%;

  .gridTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* gap-4 */

    @include vb((
      s: (grid-template-columns: 1fr, row-gap: 0.5rem),
      sm: (grid-template-columns: 1fr, row-gap: 0.5rem),
      xs: (grid-template-columns: 1fr, row-gap: 0.5rem),
    ));
  }
}
