@use "../../../../styles/system/_shortcuts.scss" as *;
.root {
  display: grid;
  gap: clamp(28px, 4vw, 48px);
  width: 100%;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: clamp(16px, 2vw, 28px);
    flex: 1 1 auto;
  }
}

@include below-px(760px) {
  .root .grid {
    grid-template-columns: 1fr;
  }
}
