@use "../../../../styles/system/_shortcuts.scss" as *;

.root {
  width: 100%;
  overflow: visible;

  .rowTwoWideGap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem; /* gap-x-4 */

    @include vb((
      s: (grid-template-columns: 1fr, row-gap: 1rem),
      sm: (grid-template-columns: 1fr, row-gap: 1rem),
      xs: (grid-template-columns: 1fr, row-gap: 1rem),
    ));
  }

}
