@use "../../../../styles/system/_shortcuts.scss" as *;
.root {
  margin-bottom: 2rem;
  .text {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Sansation-Light";

	@include hb((
		lg: (font-size: 1.15rem),
		md: (font-size: 1.15rem),
		mdt: (font-size: 1.15rem),
		sm: (font-size: 1.15rem),
		xs: (font-size: 1.05rem),
		xxs: (font-size: 1.05rem),
	));

    @include vb((
		s: (font-size: 1.05rem),
		sm: (font-size: 1.05rem),
		xs: (font-size: 1.05rem),
	));
  }


  .date{
    color: var(--blackText);
    font-weight: 400;
    font-family: "Sansation-Regular";
    font-size: 1.3rem;
    @include hb((
			md: (font-size: 1.2rem),
			mdt: (font-size: 1.2rem),
			sm: (font-size: 1.2rem),
			xs: (font-size: 1.1rem),
			xxs: (font-size: 1.1rem),
		));

    @include vb((
			s: (font-size: 1.2rem),
			sm: (font-size: 1.2rem),
			xs: (font-size: 1.2rem),
		));
  }

  .email {
    color: var(--blackText);
    font-weight: 300;
    font-family: "Sansation-Regular";
    font-size: 1.3rem;
    @include hb((
			md: (font-size: 1.2rem),
			mdt: (font-size: 1.2rem),
			sm: (font-size: 1.2rem),
			xs: (font-size: 1.1rem),
			xxs: (font-size: 1.1rem),
		));

    @include vb((
			s: (font-size: 1.2rem),
			sm: (font-size: 1.2rem),
			xs: (font-size: 1.2rem),
		));
  }

  .orderNumber {
    margin-top: 0.5rem;
    color: var(--disabled);
    font-weight: 400;
    font-family: "Sansation-Regular";
    font-size: 1.3rem;
    @include hb((
			md: (font-size: 1.2rem),
			mdt: (font-size: 1.2rem),
			sm: (font-size: 1.2rem),
			xs: (font-size: 1.1rem),
			xxs: (font-size: 1.1rem),
		));

    @include vb((
			s: (font-size: 1.2rem),
			sm: (font-size: 1.2rem),
			xs: (font-size: 1.2rem),
		));
  }

  .statusRow {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
  }

  .statusText {
    font-size: 1.2rem;
    color: var(--blackText);
    font-weight: 300;
    font-family: "Sansation-Light";
    @include hb((
			md: (font-size: 1.1rem),
			mdt: (font-size: 1.1rem),
			sm: (font-size: 1.1rem),
			xs: (font-size: 1rem),
			xxs: (font-size: 1rem),
		));
    @include vb((
			s: (font-size: 1.2rem),
			sm: (font-size: 1.2rem),
			xs: (font-size: 1.2rem),
		));
  }

  .statusValue {
    color: var(--handle);
    font-size: 1.1rem;
    font-weight: 300;
    font-family: "Sansation-Regular";
    @include hb((
			md: (font-size: 1rem),
			mdt: (font-size: 1rem),
			sm: (font-size: 1rem),
			xs: (font-size: 0.9rem),
			xxs: (font-size: 0.9rem),
		));

    @include vb((
			s: (font-size: 1.1rem),
			sm: (font-size: 1.1rem),
			xs: (font-size: 1.1rem),
		));
  }
}
