@use "../../../../styles/system/_shortcuts.scss" as *;

.root {
  .title {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-family: "Sansation-Regular";
    margin-block: 1.5rem;

    @include hb((
			md: (font-size: 1.3rem),
			mdt: (font-size: 1.3rem),
			sm: (font-size: 1.3rem),
			xs: (font-size: 1.2rem),
			xxs: (font-size: 1.2rem),
		));

    @include vb((
      lg: (font-size: 1.8rem),
      md: (font-size: 1.8rem),
      s: (font-size: 1.6rem),
      sm: (font-size: 1.6rem),
      xs: (font-size: 1.6rem),
    ));

  }

  .row {
    display: flex;
    align-items: flex-start;
    column-gap: 0.25rem;
    width: 100%;
    @include vb((
      s: (flex-wrap: wrap),
      sm: (flex-wrap: wrap),
      xs: (flex-wrap: wrap),
    ));
  }

  .colLeft {
    display: flex;
    flex-direction: column;
    width: 35%;
    @include vb((
      s: (width: 100%),
      sm: (width: 100%),
      xs: (width: 100%),
    ));
  }

  .colRight {
    display: flex;
    flex-direction: column;
    width: 65%;

    @include vb((
      s: (width: 100%, border-top: 0.5px solid var(--shadows), padding-top: 2rem),
      sm: (width: 100%, border-top: 0.5px solid var(--shadows), padding-top: 2rem),
      xs: (width: 100%, border-top: 0.5px solid var(--shadows), padding-top: 2rem),
    ));
  }

  .label {
    font-weight: 400;
    font-size: 1.3rem;
    font-family: "Sansation-Regular";
    color: var(--blackText);
    margin-bottom: 0.25rem;

    @include hb((
			md: (font-size: 1.2rem),
			mdt: (font-size: 1.2rem),
			sm: (font-size: 1.2rem),
			xs: (font-size: 1.1rem),
			xxs: (font-size: 1.1rem),
		));
    @include vb((
      s: (font-size: 1.2rem),
      sm: (font-size: 1.2rem),
      xs: (font-size: 1.2rem),
    ));
  }

  .value {
    color: var(--handle);
    font-size: 1.1rem;
    font-family: "Sansation-Light";
    font-weight: 300;

    @include hb((
			md: (font-size: 1rem),
			mdt: (font-size: 1rem),
			sm: (font-size: 1rem),
			xs: (font-size: 0.9rem),
			xxs: (font-size: 0.9rem),
		));
    @include vb((
      s: (font-size: 1rem),
      sm: (font-size: 1rem),
      xs: (font-size: 1rem),
    ));
  }

  .detailsRow {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .iconWrap {
    display: flex;
    align-items: center;
    height: 2rem;
    width: fit-content;
    padding: 0.5rem;
    background: var(--ui-button-neutral-hover, #f3f4f6);
  }

  .divider {
    margin-top: 2rem;
  }
}
