@use "../../../../styles/system/_shortcuts.scss" as *;

.root {
  .title {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-family: "Sansation-Regular";
    margin-block: 1.5rem;
    @include hb((
		md: (font-size: 1.8rem),
		mdt: (font-size: 1.8rem),
		sm: (font-size: 1.8rem),
		xs: (font-size: 1.6rem),
		xxs: (font-size: 1.6rem),
	));

	@include vb((
	  lg: (font-size: 1.8rem),
	  md: (font-size: 1.8rem),
	  s: (font-size: 1.6rem, padding-bottom: 1rem, border-bottom: 0.5px solid var(--shadows)),
	  sm: (font-size: 1.6rem, padding-bottom: 1rem, border-bottom: 0.5px solid var(--shadows)),
	  xs: (font-size: 1.6rem, padding-bottom: 1rem, border-bottom: 0.5px solid var(--shadows)),
	));
  }

  .row {
    display: flex;
    align-items: flex-start;
    column-gap: 2rem; // gap-x-8
	gap: 2rem;

	@include vb((
	  s: (flex-wrap: wrap),
	  sm: (flex-wrap: wrap),
	  xs: (flex-wrap: wrap),
	));
  }

  .col {
    display: flex;
    flex-direction: column;
    width: 40%;
	@include vb((
	  s: (width: 60%, border-top: 0.5px solid var(--shadows), padding-top: 2rem),
	  sm: (width: 60%, border-top: 0.5px solid var(--shadows), padding-top: 2rem),
	  xs: (width: 60%, border-top: 0.5px solid var(--shadows), padding-top: 2rem),
	));

	&:nth-of-type(1) {
	  @include vb((
		s: (border-top: none, padding-top: 0),
		sm: (border-top: none, padding-top: 0),
		xs: (border-top: none, padding-top: 0),
	  ));
	}
  }

  .label {
    font-weight: 400;
    font-size: 1.3rem;
    font-family: "Sansation-Regular";
    color: var(--blackText);
    margin-bottom: 0.25rem;
    @include hb((
		md: (font-size: 1.2rem),
		mdt: (font-size: 1.2rem),
		sm: (font-size: 1.2rem),
		xs: (font-size: 1.1rem),
		xxs: (font-size: 1.1rem),
	));

	@include vb((
	  s: (font-size: 1.2rem),
	  sm: (font-size: 1.2rem),
	  xs: (font-size: 1.2rem),
	));
  }

  .value {
    color: var(--handle);
    font-size: 1.1rem;
    font-family: "Sansation-Light";
    font-weight: 300;
    @include hb((
		md: (font-size: 1rem),
		mdt: (font-size: 1rem),
		sm: (font-size: 1rem),
		xs: (font-size: 0.9rem),
		xxs: (font-size: 0.9rem),
	));
	@include vb((
	  s: (font-size: 1rem),
	  sm: (font-size: 1rem),
	  xs: (font-size: 1rem),
	));
  }

  .divider {
    margin-top: 2rem;
  }
}
