@use "../../../../styles/system/_shortcuts.scss" as *;


.product{
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--bgWhite);
    gap: 2dvw;
    overflow: hidden;

    .product__details{
        width: 100%;
        height: fit-content;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(1, 1fr);
        padding: 25vh 0 0 0;

        .info__container{
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            .product__details__mainDetails{
                width: 100%;
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 1dvh;
                padding: 0dvh 2.5dvw;
            }

            .product__details__cta{
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                gap: 1dvw;
                padding: 0 2.5dvw;

                @include hb((
                    xs: (height: 20dvh),
                ));
                @include hb((
                    xxs: (height: 20dvh),
                ));

                @include vb((
                    lg: (flex-direction: column, height: 25dvh, justify-content: center, align-items: flex-start, gap: 0.5rem, margin-top: 2.5dvh),
                ));

                @include vb((
                    md: (flex-direction: column, height: 20dvh, justify-content: center, align-items: flex-end, gap: 0.25rem, margin-top: 2.5dvh),
                ));
                @include vb((
                    s: (flex-direction: column, justify-content: center, align-items: flex-start, height: 15dvh, z-index: 1),
                ));
                @include vb((
                    sm: (flex-direction: column, justify-content: center, align-items: flex-start, height: 15dvh, z-index: 1),
                ));
                @include vb((
                    xs: (flex-direction: column, justify-content: center, align-items: flex-start, height: 15dvh, z-index: 1),
                ));


                .divider{
                    position: absolute;
                    width: 90%;
                    height: 0.5px;
                    background-color: var(--shadows);
                    bottom: 0;
                    left: 5%;
                    z-index: 0;

                }

                .product__details__cta__price{
                    width: 40%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    gap: 1.5dvw;
                    padding-top: 5dvh;

                    @include hb((
                        xxs: (width: 40%, flex-direction: column, align-items: flex-start),
                    ));

                    @include vb((
                        lg: (width: 100%, padding: 0, height: 5dvh),
                    ));
                    @include vb((
                        md: (width: 100%, padding: 0, height: 5dvh),
                    ));
                    @include vb((
                        s: (width: 100%, padding: 0, height: 10dvh, position: absolute, top: 0, left: 5dvw, z-index: 1),
                    ));
                    @include vb((
                        sm: (width: 100%, padding: 0, height: 10dvh, position: absolute, top: 0, left: 5dvw, z-index: 1),
                    ));
                    @include vb((
                        xs: (width: 100%, padding: 0, height: 10dvh, position: absolute, top: 0, left: 5dvw, z-index: 1),
                    ));

                    p{
                        font-family: "Sansation-Light";
                        position: relative;
                        z-index: 1;
                        font-size: 1.5rem;
                        color: var(--blackText);
                        font-weight: 300;

                        @include hb((
                            md: (font-size: 1.3rem),
                        ));
                        @include hb((
                            sm: (font-size: 1.2rem),
                        ));
                        @include hb((
                            xs: (font-size: 1.1rem),
                        ));
                        @include hb((
                            xxs: (font-size: 1rem),
                        ));
                        @include vb((
                            md: (font-size: 1.3rem),
                        ));  
                    }
                    .product__details__cta__price__main{
                        width: 50%;
                        height: 0.1%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        span{
                            position: relative;
                            z-index: 1;
                            font-size: 3rem;
                            color: var(--blackText);
                            font-weight: 300;
                            margin: 0;

                            @include hb((
                                md: (font-size: 2.5rem),
                            ));
                            @include hb((
                                mdt: (font-size: 2.5rem),
                            ));
                            @include hb((
                                sm: (font-size: 2rem),
                            ));
                            @include hb((
                                xs: (font-size: 1.8rem),
                            ));
                            @include hb((
                                xxs: (font-size: 1.5rem),
                            ));
                            @include vb((
                                md: (font-size: 2rem),
                            ));  
                            @include vb((
                                s: (font-size: 2rem),
                            ));  
                            @include vb((
                                sm: (font-size: 2rem),
                            )); 
                            @include vb((
                                xs: (font-size: 2rem),
                            )); 
                        }
                    }

                }

                .product__details__cta__buy{
                    width: 60%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    flex-direction: column;
                    gap: 0.25dvw;
                    padding: 1.5dvh 0;

                    @include vb((
                        lg: (width: 100%, padding: 0, height: 7.5dvh, align-items: flex-start),
                    ));
                    @include vb((
                        md: (width: 100%, padding: 0, height: 7.5dvh, align-items: flex-start),
                    ));
                    @include vb((
                        s: (width: 100%, height: 10dvh, align-items: flex-end, justify-content: space-between, position: absolute, bottom: 0, right: 0, z-index: 2, padding: 3.5dvh 5dvw 0 5dvw),
                    ));
                    @include vb((
                        sm: (width: 100%, height: 10dvh, align-items: flex-end, justify-content: space-between, position: absolute, bottom: 0, right: 0, z-index: 2, padding: 2.5dvh 5dvw 0 5dvw),
                    ));
                    @include vb((
                        xs: (width: 100%, height: 10dvh, align-items: flex-end, justify-content: space-between, position: absolute, bottom: 0, right: 0, z-index: 2, padding: 3.5dvh 5dvw 0 5dvw),
                    ));

                    .product__details__cta__buy__buttons{
                        width: 100%;
                        height: 50%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        flex-direction: row;
                        gap: 1dvw;
                        @include vb((
                            lg: (justify-content: flex-start),
                        ));
                        @include vb((
                            md: (justify-content: flex-start),
                        ));
                        @include vb((
                            s: (justify-content: flex-start, height: 100%, flex-direction: row-reverse, gap: 5dvw, padding: 0 5dvw),
                        ));
                        @include vb((
                            sm: (justify-content: flex-start, height: 100%, flex-direction: row-reverse, gap: 5dvw, padding: 0 5dvw),
                        ));
                        @include vb((
                            xs: (justify-content: flex-start, height: 100%, flex-direction: row-reverse, gap: 5dvw, padding: 0 5dvw),
                        ));

                        .product__details__cta__buy__button__add{
                            width: 35px;
                            height: 35px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            @include hb((
                                md: (width: 30px, height: 30px),
                            ));
                            @include hb((
                                mdt: (width: 30px, height: 30px),
                            ));
                            @include hb((
                                xs: (width: 30px, height: 30px),
                            ));
                            @include hb((
                                xxs: (width: 30px, height: 30px),
                            ));
                            @include hb((
                                sm: (width: 30px, height: 30px),
                            ));
                            img{ 
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                            
                        }
                        .ClickButton{
                            .button{
                                width: 200px;
                                height: 45px;
                                @include hb((
                                    lg: (width: 150px !important, height: 40px !important),
                                ));
                                @include hb((
                                    mdt: (width: 150px !important, height: 40px !important),
                                ));
                                @include hb((
                                    md: (width: 150px !important, height: 40px !important),
                                ));
                                @include hb((
                                    sm: (width: 150px !important, height: 40px !important),
                                ));
                                @include hb((
                                    xs: (width: 150px !important, height: 40px !important),
                                ));
                                @include hb((
                                    xxs: (width: 150px !important, height: 40px !important),
                                ));
                                @include vb((
                                    md: (width: 150px !important, height: 40px !important),
                                ));
                                @include vb((
                                    s: (width: 150px !important, height: 40px !important),
                                ));
                                @include vb((
                                    sm: (width: 150px !important, height: 40px !important),
                                ));
                                @include vb((
                                    xs: (width: 150px !important, height: 40px !important),
                                ));
                                .slider{
                                    .el{
                                        &:nth-of-type(1){
                                            .perspectiveText{
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                    
                                                p{
                                                    &:nth-of-type(1){
                                                        position: absolute;
                                                        top: 50%;
                                                        left: 50%;
                                                        transform: translate(-50%, -50%);
                                                        width: 100%;
                                                        text-align: center;
                                                    }
                                                }
                                            }
                                        }
                                        
                                        p{
                                            font-family: "Sansation-Light";
                                            text-transform: capitalize;
                                            font-size: 1.3rem;
                                            color: var(--bgWhite);
                                            font-weight: 300;
                                            margin: 0;

                                            @include hb((
                                                lg: (font-size: 1.3rem),
                                            ));
                                            @include hb((
                                                mdt: (font-size: 1.3rem),
                                            ));
                                            @include hb((
                                                md: (font-size: 1.1rem),
                                            ));
                                            @include hb((
                                                sm: (font-size: 1.1rem),
                                            ));
                                            @include hb((
                                                xs: (font-size: 1rem),
                                            ));
                                            @include hb((
                                                xxs: (font-size: 1rem),
                                            ));
                                            @include vb((
                                                lg: (font-size: 1.3rem),
                                            ));
                                            @include vb((
                                                md: (font-size: 1.1rem),
                                            ));
                                            @include vb((
                                                s: (font-size: 1.1rem),
                                            ));
                                            @include vb((
                                                sm: (font-size: 1.1rem),
                                            ));
                                            @include vb((
                                                xs: (font-size: 0.9rem),
                                            ));
                                        }
                                    }
                                }
                            }

                        }
                    }

                    p{
                        font-family: "Sansation-Light";
                        position: relative;
                        z-index: 1;
                        font-size: 1rem;
                        color: var(--blackText);
                        font-weight: 300;
                        
                        @include hb((
                            md: (font-size: 0.9rem),
                        ));

                        @include hb((
                            mdt: (font-size: 0.9rem),
                        ));
                        @include hb((
                            sm: (font-size: 0.9rem),
                        ));
                        @include hb((
                            xs: (font-size: 0.8rem),
                        ));
                        @include hb((
                            xxs: (font-size: 0.8rem),
                        ));

                        @include vb((
                            md: (font-size: 0.9rem),
                        ));
                        @include vb((
                            s: (font-size: 0.9rem, text-align: right),
                        ));
                        @include vb((
                            sm: (font-size: 0.9rem, text-align: right),
                        ));
                        @include vb((
                            xs: (font-size: 0.9rem, text-align: right),
                        ));
                    }
                }
            }

            .product__reviews{
                width: 100%;
                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 2.5vw;
                gap: 0.25rem;

                @include vb((
                    s: (padding: 0 5vw),
                ));
                    @include vb((
                        sm: (padding: 0 5vw),
                    ));
                    @include vb((
                        xs: (padding: 0 5vw),
                    ));

                span{
                    font-size: 1.5rem;
                    font-weight: 400;
                    font-family: "Sansation-Light";
                    margin: 0;
                    gap: 0.25rem;

                    @include hb((
                        lg: (font-size: 1.3rem),
                    )); 
                    @include hb((
                        md: (font-size: 1.3rem),
                    )); 
                        @include hb((
                            sm: (font-size: 1.3rem),
                        )); 
                    @include hb((
                        xs: (font-size: 1.2rem),
                    )); 
                    @include hb((
                        xxs: (font-size: 1.1rem),
                    )); 
                    @include vb((
                        md: (font-size: 1.3rem),
                    ));  

                    @include vb((
                        s: (font-size: 1.2rem),
                    ));
                        @include vb((
                            sm: (font-size: 1.2rem),
                        ));
                        @include vb((
                            xs: (font-size: 1.2rem),
                        ));
                }
            }
        }
        .images_container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;

            .product__image{
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                gap: 1dvw;

                .Image__container{
                    width: 100%;
                    height: 100%;   
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 2.5dvh 2.5dvw;
                

                    .Image__container__slider{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: 2dvh;

                        .product__image__item{
                            width: 100%;
                            height: 350px;
                            border-radius: 15px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;

                            
                        }
                    }

                }
            }
        }
        .choice__container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;

            .product__details__subDetails{
                width: 100%;
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 1dvw;
                padding: 0 2.5dvw;

                @include hb((
                    md: (height: 15dvh, gap: 0.25dvh),
                )); 
                @include hb((
                    mdt: (height: 15dvh, gap: 0.25dvh),
                )); 
                @include hb((
                    sm: (height: 15dvh, gap: 0.25dvh),
                )); 
                @include hb((
                    xs: (height: 15dvh),
                )); 
                @include hb((
                    xxs: (height: 25dvh),
                ));
                
                @include vb((
                    lg: (height: 7.5dvh),
                ));
                @include vb((
                    s: (flex-direction: column, align-items: center, justify-content: space-evenly, padding: 0 5dvw, height: 20dvh),
                )); 
                @include vb((
                    sm: (flex-direction: column, align-items: center, justify-content: space-evenly, padding: 0 5dvw, height: 25dvh),
                ));
                @include vb((
                    xs: (flex-direction: column, align-items: center, justify-content: space-evenly, padding: 0 5dvw, height: 30dvh),
                )); 

                .product__details__subDetails__colors{
                    width: 100%;
                    height: 2.5dvh;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1dvw;

                    @include hb((
                        md: (height: 5dvh),
                    )); 
                    @include hb((
                        mdt: (height: 3.5dvh),
                    ));
                    @include hb((
                        sm: (height: 5dvh),
                    ));  
                    @include hb((
                        xs: (height: 7.5dvh),
                    )); 
                    @include hb((
                        xxs: (height: 7.5dvh),
                    ));
                    @include vb((
                        lg: (height: 5dvh, width: 100%),
                    )); 
                    @include vb((
                        s: (height: 5dvh, width: 50%, flex-direction: column, align-items: center, justify-content: center),
                    )); 
                    @include vb((
                        sm: (height: 5dvh, width: 50%, flex-direction: column, align-items: center, justify-content: center),
                    )); 

                    @include vb((
                        xs: (height: 5dvh, width: 50%, flex-direction: column, align-items: center, justify-content: center),
                    )); 


                    p{
                        font-family: "Sansation-Light";
                        position: relative;
                        z-index: 1;
                        font-size: 1.5rem;
                        color: var(--blackText);
                        font-weight: 300;
                        white-space: nowrap;

                        @include hb((
                            md: (font-size: 1.3rem),
                        )); 
                        @include hb((
                            sm: (font-size: 1.3rem),
                        )); 
                        @include hb((
                            xs: (font-size: 1.2rem),
                        )); 
                        @include hb((
                            xxs: (font-size: 1.1rem),
                        )); 
                        @include vb((
                            md: (font-size: 1.3rem),
                        ));  

                        @include vb((
                            s: (font-size: 1.2rem),
                        ));
                        @include vb((
                            sm: (text-align: center),
                        ));
                        @include vb((
                            xs: (text-align: center),
                        ));
                    }

                .product__details__subDetails__colors__items{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 0.5dvw;

                        @include vb((
                            lg: (align-items: flex-start),
                        ));
                        @include vb((
                            md: (align-items: flex-start),
                        ));
                        @include vb((
                            s: (justify-content: center, gap: 2.5dvw, padding: 0.5dvh 0, border-top: 1px solid var(--shadows)),
                        ));
                        @include vb((
                            sm: (justify-content: center, gap: 2.5dvw, padding: 0.5dvh 0, border-top: 1px solid var(--shadows)),
                        ));
                        @include vb((
                            xs: (justify-content: center, gap: 2.5dvw, padding: 0.5dvh 0, border-top: 1px solid var(--shadows)),
                        ));

                        .product__details__subDetails__colors__item{
                            width: 1.5dvw;
                            height: 1.5dvw;
                            border-radius: 50%;
                            cursor: pointer;

                            @include hb((
                                md: (width: 1.3dvw, height: 1.3dvw),
                            )); 
                            @include hb((
                                sm: (width: 1.3dvw, height: 1.3dvw),
                            ));
                            @include hb((
                                xs: (width: 1.3dvw, height: 1.3dvw),
                            ));
                            @include hb((
                                xxs: (width: 1.1dvw, height: 1.1dvw),
                            )); 

                            @include vb((
                                md: (width: 2dvw, height: 2dvw),
                            )); 
                            @include vb((
                                s: (width: 8dvw, height: 8dvw),
                            )); 
                            @include vb((
                                sm: (width: 6dvw, height: 6dvw),
                            )); 
                            @include vb((
                                xs: (width: 6dvw, height: 6dvw),
                            )); 
                        }
                }
                }

                .product__details__subDetails__sizes{
                    width: 100%;
                    height: 2.5dvh;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1dvw;

                    @include hb((
                        md: (height: 5dvh),
                    )); 

                    @include hb((
                        xs: (height: 5dvh),
                    ));
                    @include hb((
                        xxs: (height: 5dvh),
                    )); 
                    @include vb((
                        s: (height: 5dvh, width: 50%, flex-direction: column, align-items: center, justify-content: center),
                    )); 
                    @include vb((
                        sm: (height: 5dvh, width: 50%, flex-direction: column, align-items: center, justify-content: center),
                    )); 
                    @include vb((
                        xs: (height: 5dvh, width: 50%, flex-direction: column, align-items: center, justify-content: center),
                    )); 

                    p{
                        font-family: "Sansation-Light";
                        position: relative;
                        z-index: 1;
                        font-size: 1.5rem;
                        color: var(--blackText);
                        font-weight: 300;
                        white-space: nowrap;

                        @include hb((
                            md: (font-size: 1.3rem),
                        )); 
                        @include hb((
                            sm: (font-size: 1.2rem),
                        ));
                        @include hb((
                            xs: (font-size: 1.1rem),
                        ));
                        @include hb((
                            xxs: (font-size: 1.1rem),
                        ));
                        @include vb((
                            md: (font-size: 1.3rem),
                        ));  
                        @include vb((
                            s: (text-align: center),
                        ));
                        @include vb((
                            sm: (text-align: center),
                        ));
                        @include vb((
                            xs: (text-align: center),
                        ));
                    }
                    

                    .product__details__subDetails__sizes__items{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 0.5dvw;
                        @include vb((
                            s: (justify-content: center, gap: 2.5dvw, border-top: 1px solid var(--shadows), padding: 0.5dvh 0),
                        )); 
                        @include vb((
                            sm: (justify-content: center, gap: 2.5dvw, border-top: 1px solid var(--shadows), padding: 0.5dvh 0),
                        ));
                        @include vb((
                            xs: (justify-content: center, gap: 2.5dvw, border-top: 1px solid var(--shadows), padding: 0.5dvh 0),
                        ));

                        .product__details__subDetails__sizes__item{
                            width: fit-content;
                            height: 100%;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 25px;
                            background-color: var(--darkOlive);
                            box-shadow: none;
                            border: 0.5px solid var(--bgWhite);
                            padding: 0.5dvw 0.5dvw;
                            cursor: pointer;
                            @include vb((
                                s: (padding: 0.5dvw 3dvw),
                            ));
                            @include vb((
                                sm: (padding: 0.5dvw 3dvw),
                            ));
                            @include vb((
                                xs: (padding: 0.5dvw 3dvw),
                            ));

                            p{
                                font-family: "Sansation-Regular";
                                position: relative;
                                z-index: 1;
                                font-size: 1.3rem;
                                color: var(--whiteText);
                                font-weight: 300;
                                padding: 0.15rem;

                                @include hb((
                                    md: (font-size: 1.1rem, padding: 0.15rem),
                                )); 
                                @include hb((
                                    sm: (font-size: 1.1rem, padding: 0.15rem),
                                )); 
                                @include hb((
                                    xs: (font-size: 1rem, padding: 0.15rem),
                                ));
                                @include hb((
                                    xxs: (font-size: 0.9rem, padding: 0.15rem),
                                ));  
                                @include vb((
                                    md: (font-size: 1.1rem, padding: 0 0.25rem),
                                ));  
                                @include vb((
                                    sm: (font-size: 1.1rem, padding: 0 0.25rem),
                                ));  
                                @include vb((
                                    xs: (font-size: 1.1rem, padding: 0 0.25rem),
                                )); 
                            }

                            &.active{
                                background-color: var(--bgBlack);
                                border: 0.5px solid var(--darkOlive);
                            }

                            &:hover{
                                background-color: var(--bgBlack);
                                border: 0.5px solid var(--darkOlive);
                            }
                        }
                    }
                    
                }
                
            }
        }

    }
}
