@use "../../../../styles/system/_shortcuts.scss" as *;

/* LineItemPrice component styles - SASS nesting */
.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--blackText);
  align-items: flex-end;
  padding-top: 0.25rem;

  .priceContainer {
    text-align: right;
    font-size: 1.1rem;
    font-family: "Sansation-Regular";
    font-weight: 300;
    color: var(--blackText);
    @include hb((
      lg: (font-size: 1rem),
      md: (font-size: 1rem),
      mdt: (font-size: 1rem),
      sm: (font-size: 1rem),
      xs: (font-size: 0.9rem),
      xxs: (font-size: 0.9rem),
    ));

    @include vb((
      lg: (font-size: 1rem),
      md: (font-size: 1rem),
      s: (font-size: 0.9rem),
      sm: (font-size: 0.9rem),
      xs: (font-size: 0.9rem),
    ));

    .originalLabel {
      color: var(--blackText);
    }

    .originalPrice {
      text-decoration: line-through;
      color: var(--handle);
    }

    .discount {
      color: var(--disabled);
    }

    .price {
      font-size: 1.1rem;
      font-weight: 400;
      font-family: "Sansation-Regular";

      @include hb((
        md: (font-size: 1rem),
        sm: (font-size: 1rem),
        xs: (font-size: 0.95rem),
        xxs: (font-size: 0.95rem),
      ));

      @include vb((
        lg: (font-size: 0.95rem),
        md: (font-size: 0.95rem),
        s: (font-size: 0.95rem),
        sm: (font-size: 0.95rem),
        xs: (font-size: 0.95rem),
      ));

      &.discounted {
        color: var(--handle);
      }
    }
  }
}
