@use "../../../../styles/system/_shortcuts.scss" as *;
/* Divider component styles - SASS nesting */
.root {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--blue-04);
  margin-top: 0.25rem;
  background: none;
}
