@use "../../../../styles/system/_shortcuts.scss" as *;

/* Review component styles - SASS nesting */
.root {
  background: #fff;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .heading {
      display: flex;
      flex-direction: row;
      font-size: 2rem;
      font-weight: 400;
      gap: 0.5rem;
      align-items: baseline;
      font-family: "Sansation-Regular";

      @include hb((
        lg: (font-size: 1.8rem),
        md: (font-size: 1.8rem),
        mdt: (font-size: 1.8rem),
        sm: (font-size: 1.8rem),
        xs: (font-size: 1.6rem),
        xxs: (font-size: 1.6rem),
      ));

      @include vb((
        lg: (font-size: 1.8rem),
        md: (font-size: 1.8rem),
        s: (font-size: 1.6rem),
        sm: (font-size: 1.6rem),
        xs: (font-size: 1.6rem),
      ));

      &.inactive {
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
      }
    }
  }

  .reviewRow {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .reviewTextWrap {
    width: 100%;
  }

  .reviewText {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--blackText);
    margin-bottom: 0.25rem;

    @include hb((
        md: (font-size: 1rem),
        mdt: (font-size: 1rem),
        sm: (font-size: 1rem),
        xs: (font-size: 0.9rem, font-weight: 300),
        xxs: (font-size: 0.9rem, font-weight: 300),
    ));

    @include vb((
        lg: (font-size: 1rem),
        md: (font-size: 1rem),
        s: (font-size: 0.9rem, font-weight: 300),
        sm: (font-size: 0.9rem, font-weight: 300),
        xs: (font-size: 0.9rem, font-weight: 300),
    ));
  }
}
