@use "../../../styles/system/_shortcuts.scss" as *;

.kurzy{
    width: 100dvw;
    height: auto;
    background-color: var(--bgBlack);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
