// AUTO-IMPORT START
@use "../app/[countryCode]/(checkout)/checkout/page.module.scss" as _s0;
@use "../app/[countryCode]/(checkout)/styles/layout.module.scss" as _s1;
@use "../app/[countryCode]/(checkout)/styles/notfound.module.scss" as _s2;
@use "../app/[countryCode]/(main)/account/@dashboard/styles/addresses.module.scss" as _s3;
@use "../app/[countryCode]/(main)/account/@dashboard/styles/orders.module.scss" as _s4;
@use "../app/[countryCode]/(main)/account/@dashboard/styles/profile.module.scss" as _s5;
@use "../app/[countryCode]/(main)/cart/styles/notfound.module.scss" as _s6;
@use "../app/[countryCode]/(main)/cookies/styles.scss" as _s7;
@use "../app/[countryCode]/(main)/doprava-a-platba/styles.scss" as _s8;
@use "../app/[countryCode]/(main)/ochrana-osobnich-udaju/styles.scss" as _s9;
@use "../app/[countryCode]/(main)/odstoupeni-od-smlouvy/styles.scss" as _s10;
@use "../app/[countryCode]/(main)/smluvni-podminky/styles.scss" as _s11;
@use "../app/[countryCode]/smluvni_podminky/styles.scss" as _s12;
@use "../app/notfound.module.scss" as _s13;
@use "../modules/account/components/account-info/style.module.scss" as _s14;
@use "../modules/account/components/account-nav/style.module.scss" as _s15;
@use "../modules/account/components/address-book/style.module.scss" as _s16;
@use "../modules/account/components/address-card/add-address.module.scss" as _s17;
@use "../modules/account/components/address-card/styles.module.scss" as _s18;
@use "../modules/account/components/BgImage/style.module.scss" as _s19;
@use "../modules/account/components/delete-button/delete-button.module.scss" as _s20;
@use "../modules/account/components/edit-button/styles.module.scss" as _s21;
@use "../modules/account/components/login/login.module.scss" as _s22;
@use "../modules/account/components/login/styles/login.module.scss" as _s23;
@use "../modules/account/components/order-card/style.module.scss" as _s24;
@use "../modules/account/components/order-overview/style.module.scss" as _s25;
@use "../modules/account/components/overview/style.module.scss" as _s26;
@use "../modules/account/components/profile-billing-address/style.module.scss" as _s27;
@use "../modules/account/components/profile-email/style.module.scss" as _s28;
@use "../modules/account/components/profile-name/style.module.scss" as _s29;
@use "../modules/account/components/profile-password/style.module.scss" as _s30;
@use "../modules/account/components/profile-phone/style.module.scss" as _s31;
@use "../modules/account/components/register/style.module.scss" as _s32;
@use "../modules/account/components/share-button/share-button.module.scss" as _s33;
@use "../modules/account/components/transfer-request-form/style.module.scss" as _s34;
@use "../modules/account/templates/styles/account-layout.module.scss" as _s35;
@use "../modules/account/templates/styles/addresses-template.module.scss" as _s36;
@use "../modules/account/templates/styles/forgot-password.module.scss" as _s37;
@use "../modules/account/templates/styles/login.module.scss" as _s38;
@use "../modules/account/templates/styles/orders-template.module.scss" as _s39;
@use "../modules/account/templates/styles/profile.module.scss" as _s40;
@use "../modules/account/templates/styles/reset-password.module.scss" as _s41;
@use "../modules/account/templates/styles/reviews-template.module.scss" as _s42;
@use "../modules/account/templates/styles/send-email.module.scss" as _s43;
@use "../modules/account/templates/styles/verify-email.module.scss" as _s44;
@use "../modules/account/templates/styles/wishlist-template.module.scss" as _s45;
@use "../modules/cart/components/cart-item-select/style.module.scss" as _s46;
@use "../modules/cart/components/empty-cart-message/style.module.scss" as _s47;
@use "../modules/cart/components/item/style.module.scss" as _s48;
@use "../modules/cart/components/prallax-image/style.module.scss" as _s49;
@use "../modules/cart/components/sign-in-prompt/style.module.scss" as _s50;
@use "../modules/cart/templates/index.module.scss" as _s51;
@use "../modules/cart/templates/items.module.scss" as _s52;
@use "../modules/cart/templates/preview.module.scss" as _s53;
@use "../modules/cart/templates/summary.module.scss" as _s54;
@use "../modules/categories/templates/style.module.scss" as _s55;
@use "../modules/checkout/components/address-select/style.module.scss" as _s56;
@use "../modules/checkout/components/addresses/style.module.scss" as _s57;
@use "../modules/checkout/components/billing_address/style.module.scss" as _s58;
@use "../modules/checkout/components/discount-code/style.module.scss" as _s59;
@use "../modules/checkout/components/error-message/style.module.scss" as _s60;
@use "../modules/checkout/components/payment-button/style.module.scss" as _s61;
@use "../modules/checkout/components/payment-container/style.module.scss" as _s62;
@use "../modules/checkout/components/payment-test/style.module.scss" as _s63;
@use "../modules/checkout/components/payment/style.module.scss" as _s64;
@use "../modules/checkout/components/review/style.module.scss" as _s65;
@use "../modules/checkout/components/shipping-address/style.module.scss" as _s66;
@use "../modules/checkout/components/shipping/style.module.scss" as _s67;
@use "../modules/checkout/templates/checkout-form/style.module.scss" as _s68;
@use "../modules/checkout/templates/checkout-summary/style.module.scss" as _s69;
@use "../modules/common/components/Buttons/AccLinkButton/style.module.scss" as _s70;
@use "../modules/common/components/Buttons/button/style.scss" as _s71;
@use "../modules/common/components/Buttons/ClickButton/style.scss" as _s72;
@use "../modules/common/components/Buttons/hashtagButton/style.scss" as _s73;
@use "../modules/common/components/Buttons/interactiveLink-button/style.scss" as _s74;
@use "../modules/common/components/Buttons/LinkButton/style.scss" as _s75;
@use "../modules/common/components/Buttons/MainButton/style.scss" as _s76;
@use "../modules/common/components/Buttons/optionButton/style.scss" as _s77;
@use "../modules/common/components/Buttons/ScrollLink/styles.scss" as _s78;
@use "../modules/common/components/cart-totals/style.module.scss" as _s79;
@use "../modules/common/components/checkbox/style.module.scss" as _s80;
@use "../modules/common/components/delete-button/style.module.scss" as _s81;
@use "../modules/common/components/divider/style.module.scss" as _s82;
@use "../modules/common/components/filter-radio-group/style.module.scss" as _s83;
@use "../modules/common/components/input/style.module.scss" as _s84;
@use "../modules/common/components/interactive-link/style.module.scss" as _s85;
@use "../modules/common/components/line-item-options/style.module.scss" as _s86;
@use "../modules/common/components/line-item-price/style.module.scss" as _s87;
@use "../modules/common/components/line-item-unit-price/style.module.scss" as _s88;
@use "../modules/common/components/MouseAnim/style.scss" as _s89;
@use "../modules/common/components/native-select/style.module.scss" as _s90;
@use "../modules/common/components/radio/style.module.scss" as _s91;
@use "../modules/common/components/RotatingText/style.scss" as _s92;
@use "../modules/dotazy/FAQ/styles.scss" as _s93;
@use "../modules/dotazy/main/styles.scss" as _s94;
@use "../modules/home/E-com/Collections/style.scss" as _s95;
@use "../modules/home/E-com/Courses/style.scss" as _s96;
@use "../modules/home/E-com/Intro/Carousel/Button/style.scss" as _s97;
@use "../modules/home/E-com/Intro/Carousel/style.scss" as _s98;
@use "../modules/home/E-com/Intro/intro/style.scss" as _s99;
@use "../modules/home/Hero/IntroHero/style.scss" as _s100;
@use "../modules/home/Info/Kontakt/styles.scss" as _s101;
@use "../modules/home/Info/Mapa/styles.scss" as _s102;
@use "../modules/home/Kurzy/About/styles.scss" as _s103;
@use "../modules/home/Kurzy/CTA/styles.scss" as _s104;
@use "../modules/home/Kurzy/Intro/styles.scss" as _s105;
@use "../modules/home/Kurzy/style.scss" as _s106;
@use "../modules/layout/components/cart-dropdown/style.module.scss" as _s107;
@use "../modules/layout/components/cart-mismatch-banner/style.module.scss" as _s108;
@use "../modules/layout/components/country-select/style.module.scss" as _s109;
@use "../modules/layout/components/scrollLinkCheckout/scrollLink.module.scss" as _s110;
@use "../modules/layout/Footer/style.scss" as _s111;
@use "../modules/layout/Navbar/button/styles.module.scss" as _s112;
@use "../modules/layout/Navbar/MenuButton/styles.module.scss" as _s113;
@use "../modules/layout/Navbar/nav/styles.module.scss" as _s114;
@use "../modules/layout/Navbar/productsButton/styles.module.scss" as _s115;
@use "../modules/layout/Navbar/searchButton/styles.module.scss" as _s116;
@use "../modules/layout/Navbar/style.scss" as _s117;
@use "../modules/layout/scrollbar/style.module.scss" as _s118;
@use "../modules/order/components/styles/help.module.scss" as _s119;
@use "../modules/order/components/styles/item.module.scss" as _s120;
@use "../modules/order/components/styles/items.module.scss" as _s121;
@use "../modules/order/components/styles/onboarding-cta.module.scss" as _s122;
@use "../modules/order/components/styles/order-details.module.scss" as _s123;
@use "../modules/order/components/styles/order-summary.module.scss" as _s124;
@use "../modules/order/components/styles/payment-details.module.scss" as _s125;
@use "../modules/order/components/styles/shipping-details.module.scss" as _s126;
@use "../modules/order/components/styles/transfer-actions.module.scss" as _s127;
@use "../modules/order/components/styles/transfer-image.module.scss" as _s128;
@use "../modules/order/templates/styles/oder-complete.module.scss" as _s129;
@use "../modules/order/templates/styles/order-details.module.scss" as _s130;
@use "../modules/products/components/product-reviews/form.module.scss" as _s131;
@use "../modules/products/components/product-reviews/style.module.scss" as _s132;
@use "../modules/products/ProductPage/details/style.scss" as _s133;
@use "../modules/products/ProductPage/product/details/Cta/Add/button/cart-button.module.scss" as _s134;
@use "../modules/products/ProductPage/product/details/Info/Desc/style.module.scss" as _s135;
@use "../modules/products/ProductPage/product/details/Info/Title/style.module.scss" as _s136;
@use "../modules/products/ProductPage/product/details/Options/Button/button.module.scss" as _s137;
@use "../modules/products/ProductPage/product/details/Options/Colors/Select/select.module.scss" as _s138;
@use "../modules/products/ProductPage/product/details/Options/Sizes/Select/select.module.scss" as _s139;
@use "../modules/products/ProductPage/product/style.scss" as _s140;
@use "../modules/products/ProductPage/Sold/style.scss" as _s141;
@use "../modules/products/ProductPage/style.module.scss" as _s142;
@use "../modules/search/components/hit/style.module.scss" as _s143;
@use "../modules/search/components/hits/style.module.scss" as _s144;
@use "../modules/search/components/search-box/style.module.scss" as _s145;
@use "../modules/search/components/show-all/style.module.scss" as _s146;
@use "../modules/search/templates/search-modal/style.module.scss" as _s147;
@use "../modules/search/templates/search-results-template/style.module.scss" as _s148;
@use "../modules/shipping/components/free-shipping-price-nudge/style.module.scss" as _s149;
@use "../modules/store/Shop/Category/button/styles.module.scss" as _s150;
@use "../modules/store/Shop/Category/nav/styles.module.scss" as _s151;
@use "../modules/store/Shop/style.scss" as _s152;
@use "../modules/vyroba/gallery/styles.scss" as _s153;
@use "../modules/vyroba/main/styles.scss" as _s154;
// AUTO-IMPORT END

@use "tailwindcss/base" as *;
@use "tailwindcss/components" as *;
@use "tailwindcss/utilities" as *;
// This file is used to define global styles for the application without using import style.scss from .

@use "./system/colors.scss" as *;

// --- Fonts definitions and import into the project ---
@import url('../../public/fonts/Sentient/css/sentient.css');
@import url('../../public/fonts/Sansation/css/sansation.css');
@import url('../../public/fonts/Oooh_Baby/css/ooohBaby.css');

.select {
  @apply appearance-none border-none bg-no-repeat pr-4;
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.6666 10L7.99994 13.3333L11.3333 10" stroke="%239CA3AF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.6666 5.99993L7.99994 2.6666L11.3333 5.99993" stroke="%239CA3AF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-size: 16px;
  background-position: right top 50%;
  background-color: transparent;
}


//WIP redo all of the text fonts to 
// small text 1.3rem, 
// subheadings 1.8rem,
// h4 2.5rem,
// h3 4rem,
// h2 6rem,
// h1 10rem, 


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}


body {
  font-family: "Poppins-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
  width: 100%;
  position: relative;
  max-width: 100dvw;

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
  &::-webkit-scrollbar-thumb {
    width: 0px;
  }
}