@use "../../../../styles/system/_shortcuts.scss" as *;



.kurzy__about{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;

    .children{
        width: 100%;
        height: 140vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5vh;

        
        .intro{
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .text{
                width: 100%;
                height: 20%;
                position: relative;

                .text__wrapper{
                    width: 55%;
                    height: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 2.5%;
                    left: 0;

                    h3{
                        font-size: 2rem;
                        line-height: 1.2;
                        color: var(--whiteText);
                    }
                }
            }

            .Images{
                width: 100%;
                height: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                margin-top: 50px;

                .Images__container{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    gap: 50px;

                    .Image__wrapper{
                        position: relative;
                        width: 60vw;
                        height: 40vh;
                        border-radius: 15px;
                        overflow: hidden;

                        &:nth-of-type(2){
                            width: 40vw;
                            height: 70vh;
                            margin-bottom: 50px;
                        }
                    }
                }
            }
        }
        .cta{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .text{
                width: 55%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                h3{
                    font-size: 2rem;
                    line-height: 1.2;
                    color: var(--whiteText);
                }
            }

            .image__container{
                position: relative;
                width: 40%;
                height: 60%;
                border-radius: 15px;
                overflow: hidden;

                .image__wrapper{
                    position: relative;
                    width: 90%;
                    height: 90%;
                    border-radius: 15px;
                    overflow: hidden;
                }
            }
        }
    }


    .adults{
        width: 100%;
        height: 140vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20vh;

        .main{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5vh;


            .mouseanim{
                width: 100%;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;

                p{
                    font-size: 1.2rem;
                    color: var(--whiteText);
                }
            }

            .Video{
                position: relative;
                width: 100%;
                height: 80vh;
                border-radius: 15px;
                overflow: hidden;

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .text{
            width: 50%;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;

            p{
                font-size: 2rem;
                line-height: 1.2;
                color: var(--whiteText);
            }
        }

    }

}