@use "../../../../styles/system/_shortcuts.scss" as *;

.root {
  width: 100%;

  .currentInfo {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  .formGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem; /* gap-y-2 */
  }

  .rowTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem; /* gap-x-2 */


    @include vb((
      s: (grid-template-columns: 1fr, row-gap: 1rem),
      sm: (grid-template-columns: 1fr, row-gap: 1rem),
      xs: (grid-template-columns: 1fr, row-gap: 1rem),
    ));
  }

  .rowPostal {
    display: grid;
    grid-template-columns: 144px 1fr;
    column-gap: 0.5rem;

    @include vb((
      s: (grid-template-columns: 1fr, row-gap: 1rem),
      sm: (grid-template-columns: 1fr, row-gap: 1rem),
      xs: (grid-template-columns: 1fr, row-gap: 1rem),
    ));
  }
}
