@use "../../../../styles/system/_shortcuts.scss" as *;

.button{
    position: relative;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 8px var(--bgBlack); // subtle shadow here


    @include vb((
        s: (width: 90px, height: 35px),
        sm: (width: 90px, height: 35px),
        xs: (width: 90px, height: 35px),
    ));

    .slider{
        position: relative;
        width: 100%;
        height: 100%;

        .el{
            width: 100%;
            height: 100%;
            background-color: var(--bgPrimary);
            z-index: 2;
            p{
                margin: 0px;
                color: var(--whiteText);
            }
            &:nth-of-type(2){
                background-color: var(--bgBlack);
                p{
                    color: var(--whiteText);
                }
            }
            &:hover{
                .perspectiveText{
                    transform: rotateX(90deg);
                    p{
                        &:nth-of-type(1){
                            transform: translateY(-100%);
                            opacity: 0;
                        }
                        &:nth-of-type(2){
                            opacity: 1;
                        }
                    }
                }
            }
        }


        .imgWrapper{
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            z-index: 0;

            .perspectiveImage{
                width: 100%;
                height: 100%;
                position: relative;

                .overlay{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: var(--bgBlack);
                    opacity: 0.6;
                    z-index: 1;
                } 
                
                img{
                    z-index: 0;
                }
            }
        }
    }
    
}

.perspectiveText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    p{
        transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
        pointer-events: none;
        text-transform: uppercase;
        &:nth-of-type(2){
            position: absolute;
            transform-origin: bottom center;
            transform: rotateX(-90deg) translateY(9px);
            opacity: 0;
        }
    }
}


.Collection__List{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bgWhite);
    z-index: -1;
    margin: 10px 20px;
    border-radius: 25px;
    padding: 10px 0;

    .Collection__List__container{
        height: 960px;
        width: 100%;
        padding: 5px 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;

        .Collections__wrapper{
            height: 840px;
            width: 100%;
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);


            .Collection__item{
                border: 1px solid var(--iconsBlack);
                padding: 5px 10px;
                position: relative;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                max-height: 420px;
                width: 100%;

                .image__contents{
                    height: 250px;
                    width: 100%;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    padding: 15px;

                    .image__wrapper{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 0;

                        .overlay{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            background-color: var(bgBlack);
                            opacity: 0.5;
                        }

                        img{
                            z-index: 0;
                        }
                    }

                    p{
                        font-size: 1.5rem;
                        font-weight: 300;
                        line-height: 1.05;
                        color: var(--whiteText);
                        z-index: 1;
                    }

                }

                .categories{
                    max-height: 150px;
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 2.5px;
                    padding: 15px 20px;


                    .categories{
                        text-decoration: none;
                        font-size: 1.1rem;
                        font-weight: 300;
                        color: var(--whiteText);
                        line-height: 1.05;
                        margin: 0;
                    }

                }
            }
        }

        .Links{
            height: 60px;
            width: 100%;
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            
            .Links__line{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 5px;
                border:  1px solid var(--iconsBlack);

                .LinkButton{
                    width: fit-content;

                    .button{
                        width: fit-content;
                    }
                }

            }
        }
    }

    .end__footer{
        width: 100%;
        height: 20px;
        position: relative;
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.05;
            color: var(--blackText);
        }
    }
}
