@use "../../../../styles/system/_shortcuts.scss" as *;

.CTA__block{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    .button__container{
        position: relative;
        z-index: 10;
    }

    .form__parent{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 15;

        .clickable{
            width: 100%;
            height: 30%;
            cursor: pointer;
        }

        .form{
            position: relative;
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;

            .form__container{
                position: relative;
                width: 100%;
                height: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                .form__wrapper{
                    width: 70%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 2.5% 5%;

                    .header{
                        width: 100%;
                        height: 15%;
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        padding-bottom: 10px;

                        .text{
                            width: 40%;
                            h2{ 
                                font-size: 2rem;
                                font-weight: 300;
                                line-height: 1.05;
                                color: var(--whiteText)
                            }
                        }

                        .Faq{
                            width: 40%;
                            display: flex;
                            gap: 15px;
                            flex-direction: row;
                            align-items: flex-end;
                            justify-content: center;
                            p{
                                font-size: 1.1rem;
                                font-weight: 300;
                                line-height: 1.05;
                                color: var(--whiteText)
                            }
                        }
                    }

                    .form__content{
                        border-top: 1px solid var(--iconsWhite);
                        border-bottom: 1px solid var(--iconsWhite);

                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 5%;

                        .pillar{
                            overflow: hidden;
                            width: 10%;
                            height: 100%;
                            position: relative;

                            img{
                                scale: 1.5;
                            }
                        }

                        .form{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;

                            .header{
                                width: 100%;
                                p{
                                    font-size: 2rem;
                                    font-weight: 300;
                                    color: var(--whiteText)
                                }
                            }

                            .buttons{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .tag__buttons{
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    gap: 15px;
                                    margin-bottom: 10px;
                                }
                            }

                            .form__inputs{
                                position: relative;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                .divider{
                                    height: 1px;
                                    width: 100%;
                                    background-color: var(--bgWhite);
                                }

                                .form__input{
                                    width: 100%;
                                    padding: 10px;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    gap: 10px;

                                    label{
                                        font-size: 1.3rem;
                                        font-weight: 300;
                                        color: var(--whiteText);
                                    }

                                    input{
                                        background: transparent;
                                        border: none;
                                        outline: none;
                                        box-shadow: none;
                                        appearance: none;
                                        -webkit-appearance: none;
                                        font-size: 1.2rem;
                                        font-weight: 300;
                                        color: var(--whiteText);

                                        ::placeholder{
                                            font-size: 1.1rem;
                                            color: var(--blackText)
                                            
                                        }

                                        &:focus,
                                        &:focus-visible{
                                            outline: none;
                                            box-shadow: none;
                                        }

                                    }

                                    .list{
                                        display: none;
                                    }
                                }

                                .form__input__area{
                                    width: 100%;
                                    height: 200px;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    gap: 10px;
                                    padding-top: 10px;

                                    .label{
                                        border-bottom: 1px solid var(--whiteText);
                                        padding: 0 0 10px 10px;

                                        label{
                                            font-size: 1.3rem;
                                            font-weight: 300;
                                            color: var(--whiteText);
                                        }
                                    }

                                    textarea{
                                        width: 100%;
                                        height: 100%;
                                        background: transparent;
                                        border: none;
                                        outline: none;
                                        box-shadow: none;
                                        appearance: none;
                                        -webkit-appearance: none;
                                        font-size: 1.2rem;
                                        font-weight: 300;
                                        color: var(--whiteText);

                                        ::placeholder{
                                            font-size: 1.1rem;
                                            color: var(--blackText)
                                            
                                        }

                                        &:focus,
                                        &:focus-visible{
                                            outline: none;
                                            box-shadow: none;
                                        }
                                    }
                                }
                            }

                            

                            .divider{
                                height: 1px;
                                width: 100%;
                                background-color: var(--bgWhite);
                            }
                        }

                    }

                    .gdpr{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding-left: 5%;

                        p{
                            font-size: 1rem;
                            font-weight: 300;
                            color: var(--whiteText)
                        }
                    }
                }

                .image{
                    position: relative;
                    width: 30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .image__wrapper{
                        position: relative;
                        width: 350px;
                        height: 550px;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .information{
                height: 20%;
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 5%;
                
                .map{
                    width: 35%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .p{
                        font-size: 2rem;
                        font-weight: 300;
                        color: var(--whiteText);
                        border-bottom: 1px solid var(--bgWhite);

                    }

                    .text{
                        width: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p{
                            font-size: 1.5rem;
                            font-weight: 300;
                            color: var(--whiteText);
                        }

                        .map_button{
                            width: 250px !important;
                            .button{
                                width: 250px !important;
                            }
                        }
                    }
                }

                .information__kontakt{
                     width: 35%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex- ;

                    .p{
                        font-size: 2rem;
                        font-weight: 300;
                        color: var(--whiteText);
                        border-bottom: 1px solid var(--bgWhite);

                    }

                    .phone{
                        width: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p{
                            font-size: 1.5rem;
                            font-weight: 300;
                            color: var(--whiteText);
                        }

                        .LinkButton{
                            width: 250px !important;

                            .button{
                                width: 250px !important;
                                p{
                                    border-bottom: 1px solid var(--bgWhite);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}