@use "../../../styles/system/_shortcuts.scss" as *;

.footer{
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: var(--bgPrimary);
    gap: 10%;
    padding-bottom: 1.5%;


    .Upper__footer{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 5%;

        .div{
            width: 100%;
            height: 1px;
            background-color: var(--iconsBlack);
        }

        .content__upperFooter{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .Links{
                width: 60%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                padding: 25px 0;

                .Important{

                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    h3{
                        font-size: 1.5rem;
                        font-weight: 300;
                        color: var(--blackText);
                        margin-bottom: 15px;
                    }

                    .main__Links{
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;

                        .footer__link{
                            text-decoration: none;
                            transition: color 0.3s ease;

                            &:hover{
                                color: var(--primary);
                            }

                            p{
                                margin: 0;
                                font-size: 1.2rem;
                                font-weight: 300;
                                color: var(--blackText);
                            }
                        }
                    }

                }
                .Social{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    h3{
                        font-size: 1.5rem;
                        font-weight: 300;
                        color: var(--blackText);
                        margin-bottom: 15px;
                    }
                    .social__icons{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 25px;

                        .footer__link{
                            text-align: none;
                            transition: color 0.3s ease;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            img{
                                width: 50px;
                                height: 50px;
                                object-fit: contain;
                                margin-right: 10px;
                            }
                        }
                    }

                }
                .Need__help{

                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    h3{
                        font-size: 1.5rem;
                        font-weight: 300;
                        color: var(--blackText);
                        margin-bottom: 15px;
                    }


                    .links{
                        width: 100%;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        .footer__link{
                            text-decoration: none;
                            transition: color 0.3s ease;

                            &:nth-of-type(1){
                                border-right: 1px solid var(--iconsBlack);
                                padding: 0 10px 0 0;
                            }
                            &:nth-of-type(2){
                                border-right: 1px solid var(--iconsBlack);
                                padding: 0 10px;
                            }
                            &:nth-of-type(3){
                                padding: 0 0 0 10px;
                            }

                            &:hover{
                                color: var(--primary);
                            }

                            p{
                                margin: 0;
                                font-size: 1.2rem;
                                font-weight: 300;
                                color: var(--blackText);
                            }
                        }
                    }

                    .main__Links{
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;

                        .footer__link{
                            text-decoration: none;
                            transition: color 0.3s ease;

                            &:hover{
                                color: var(--primary);
                            }

                            p{
                                margin: 0;
                                font-size: 1.2rem;
                                font-weight: 300;
                                color: var(--blackText);
                            }
                        }
                    }

                }
            }

            .newsletter{
                width: 35%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                h3{
                    font-size: 1.5rem;
                    font-weight: 300;
                    color: var(--blackText);
                    margin-bottom: 15px;
                }

                .newsletter__container{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: var(--bgWhite);
                    border-radius: 25px;
                    padding: 5px;

                    .newsletter__input{
                        width: 70%;
                        padding: 10px;
                        font-size: 1rem;
                        background: transparent;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        appearance: none;
                        -webkit-appearance: none;

                        &:focus,
                        &:focus-visible{
                            outline: none;
                            box-shadow: none;
                        }
                    }

                    .newsletter__button{
                        box-shadow: none;
                        border: none;
                        background-color: var(--darkOlive);
                        padding: 10px 20px;
                        border-radius: 25px;
                        cursor: pointer;

                        p{
                            color: var(--whiteText);
                            margin: 0;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }


    .Bottom__footer{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        
        .Main{
            width: 100%;
            height: 70%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0 5%;

            .Logo{
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;

                .imgWrapper{
                    width: fit-content;
                    height: fit-content;
                    position: relative;
                    left: -25px;

                    img{
                        object-fit: contain;
                        width: 120px;
                        height: 50px;
                    }
                }

                .Name{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: center;
                    gap: 15px;

                    h2{
                        line-height: 1.1;
                        font-size: 5rem;
                        font-weight: 500;
                        color: var(--blackText);
                    }

                    p{
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: var(--blackText);
                    }
                }
            }

            .makers{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                gap: 15px;

                p{
                    margin: 0;
                    font-size: 1.2rem;
                    color: var(--blackText);
                }
            }
        }

        .div{
            width: 100%;
            height: 1px;
            background-color: var(--iconsBlack);
        }

        .bottom{
            width: 100%;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5%;


            .payment__links{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;

                .payment__logos{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;

                    .footer__link{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: transform 0.3s ease;

                        &:hover{
                            transform: scale(1.1);
                        }

                        img{
                            width: 80px;
                            height: 50px;
                            object-fit: contain;
                        }
                    }
                }

                p{
                    margin: 0;
                    font-size: 1rem;
                    color: var(--blackText);
                }
            }
        }
    }

}
